
<%= image_tag @site.contact_photo.url, class: "background-image" %>


<div class ="infobar">

<%= image_tag "logoblack.png", style: "max-width:250px; margin-left:-10px;" %>

<p>Elliot Berkowitz, President<br/>
<%= @site.address1 %><br/>
<%= @site.address2 %></p>
<br/>
<p>T: <%= @site.telephone %><br/>
F: <%= @site.fax %></p>
<br/>
<p><%= link_to(@site.email, "mailto:#{@site.email}", class: "no-bg-link", target: "_blank")%></p>
<p><%= link_to("Map", @site.map_url, class: "no-bg-link", target: "_blank")%></p>
</div>
<br/>
<script>
  $('.background-image').load(function(){
	  	  setContentHeightToImageHeight();
	  	  setContainerWidthToImageWidth();
  });
</script>
