<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class ="span3">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :info %>
    <%= f.text_area :info %>
  </div>
</div>

<div class ="span3">
  <div class="field">
    <%= f.label :completed %>
    <%= f.text_field :completed %>
  </div>
  <div class="field">
    <%= f.label :publications %>
    <%= f.text_field :publications %>
  </div>
  <div class="field">
    <%= f.label :architect %>
    <%= f.text_field :architect %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= link_to 'Show Project', @project %> |
  <%= link_to 'All Projects', projects_path %>
</div>

<% end %>
