<div id = "everything" style="overflow:hidden;">
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
     <%=image_tag "joshbell.jpg"%>
    </div>
    <div class="item">
     <%=image_tag "joshbell.jpg"%>
    </div>
    <div class="item">
      <%=image_tag "joshbell.jpg"%>
     </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<div id ="project-infobar" style="display:none">
    <p><%= @project.info %></p>
     <br/><p>Completed: <%= @project.completed %></p>
     <br/><p>Publications: <%= @project.publications %></p>
      <br/><p>Architect: <%= @project.architect %></p>
  <a class="exit" href="#">CLOSE x</a>
</div>

<div class = "footer">
  <div class="footer-links">
    <a id= "info" style="font-size:10pt;" href="#"> PROJECT INFO </a>
	<span style="margin-left:50%;"><%= @project.name.upcase %></span>
	<span style="margin-left:23%;"> 
		<a id="prev" href="#"> < </a>
		   &nbsp;&nbsp;&nbsp;&nbsp;
		<a id="next" href="#"> > </a> 
	</span>
	
   </div>
</div>
</div>


<script>
  !function ($) {
    $(function(){
      // carousel demo

    var cnt = 0 

  
	$(".exit").click(function(){
		if (cnt%2 == 1)
		  cnt++;
        $("#project-infobar").animate({top: document.height}, 600);	
	});
	
	

	$("#info").click(function(){
		cnt++;
				
		if (cnt%2 == 0){
			 $("#project-infobar").animate({top: document.height}, 600, function() {
			 			    $("#project-infobar").css("display", "none");
			 			  });	
		}
		else	
			$("#project-infobar").css("display","block");
			$("#project-infobar").css("top",document.height);
			$("#project-infobar").animate({top: '100'}, 600);
		
    });
	
		 // if ($('#project-infobar').height() == 0 )
		 // 		 		 		   $('#project-infobar').animate({height:'520'},1000);
		 // 		 		 		 
		 // 		 		 		 else if ($('#project-infobar').height() == 520 )
		 // 		 		 		   $('#project-infobar').animate({height:'0'},1000);
	
	
	
	$('.carousel').carousel({
		interval: false
	});
	$("#prev").click(function(){
		$('.carousel').carousel('prev');
	});
	$("#next").click(function(){
		$('.carousel').carousel('next');
	});
	
	
});
  }(window.jQuery)
</script>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
