<div id = "everything" style="overflow:hidden;">
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
	<% @project.project_photos.each_with_index do |pp, index| %>
	  <% if index == 0 %>
	    <div class = "item active">
	  <% else %>
	    <div class = "item">
	  <% end %>
		<%= image_tag(pp.photo.url, :title => pp.caption)%>
		</div>
	<% end %>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<div id ="project-infobar" style="display:none">
    <p><%= @project.info %></p>
     <br/><p>Completed: <%= @project.completed %></p>
     <br/><p>Publications: <%= @project.publications %></p>
      <br/><p>Architect: <%= @project.architect %></p>
  <a class="exit" href="#">CLOSE x</a>
</div>

<div class = "footer">
  <div class="footer-links">
	<div class ="span3 footerspan">
		<a id= "info" style="font-size:10pt;" href="#"> PROJECT INFO </a>
	</div>
	<div class = "span3 footerspan">
		<% if admin? %>
		  <%= link_to 'edit', edit_project_path(@project) %> &nbsp;&nbsp;
		  <%= link_to 'delete', @project, :confirm => "Are you sure you want to delete this project? This project will be permanently deleted. You can not un-do this action.", :method => :delete %> &nbsp;&nbsp;
		  <%= link_to 'new', new_project_path() %>
		<% end %>
	</div>
	<div class = "span3 footerspan" style="text-align:right; font-size:12pt;">
	  <%= @project.name.upcase %>	
	</div>
	<div class = "span3 footerspan pull-right">
		<a id="prev" href="#"> < </a>
		   &nbsp;&nbsp;&nbsp;&nbsp;
		<a id="next" href="#"> > </a>
	</div>
    <!-- <a id= "info" style="font-size:10pt;" href="#"> PROJECT INFO </a>
    	<span style="margin-left:50%;"><%= @project.name.upcase %></span>
    	<span style="margin-left:23%;"> 
    		<a id="prev" href="#"> < </a>
    		   &nbsp;&nbsp;&nbsp;&nbsp;
    		<a id="next" href="#"> > </a> 
    	</span> -->
	
   </div>
</div>
</div>


<script>
  !function ($) {
    $(function(){
      // carousel demo

    var cnt = 0 

  
	$(".exit").click(function(){
		if (cnt%2 == 1)
		  cnt++;
        	$("#project-infobar").animate({top: document.height}, 600, function() {
			 			    $("#project-infobar").css("display", "none");
			 			  });

	});
	
	

	$("#info").click(function(){
		cnt++;
				
		if (cnt%2 == 0){
			 $("#project-infobar").animate({top: document.height}, 600, function() {
			 			    $("#project-infobar").css("display", "none");
			 			  });	
		}
		else	
			$("#project-infobar").css("display","block");
			$("#project-infobar").css("top",document.height);
			$("#project-infobar").animate({top: '100'}, 600);
		
    });
	
		 // if ($('#project-infobar').height() == 0 )
		 // 		 		 		   $('#project-infobar').animate({height:'520'},1000);
		 // 		 		 		 
		 // 		 		 		 else if ($('#project-infobar').height() == 520 )
		 // 		 		 		   $('#project-infobar').animate({height:'0'},1000);
	
	
	
	$('.carousel').carousel({
		interval: false
	});
	$("#prev").click(function(){
		$('.carousel').carousel('prev');
	});
	$("#next").click(function(){
		$('.carousel').carousel('next');
	});
	
	
});
  }(window.jQuery)
</script>
