
<!-- <ul class="rslides">
  <% @project.project_photos.each_with_index do |pp, index| %>
    <li><%= image_tag(pp.photo.url, :title => pp.caption)%></li>
  <%end%>
</ul> -->


<div class="flexslider">
  <ul class="slides">
    <% @project.project_photos.each_with_index do |pp, index| %>
      <li><%= image_tag(pp.photo.url, :title => pp.caption, :class => "background-image")%></li>
    <%end%>
  </ul>
</div>
<!-- <div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
	<% @project.project_photos.each_with_index do |pp, index| %>
	  <% if index == 0 %>
	    <div class = "item active">
	  <% else %>
	    <div class = "item">
	  <% end %>
		<%= image_tag(pp.photo.url, :title => pp.caption)%>
		</div>
	<% end %>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div> -->

<div id ="project-infobar" style="display:none">
    <p><%= @project.info %></p>
     <br/><p>Completed: <%= @project.completed %></p>
     <br/><p>Publications: <%= @project.publications %></p>
      <br/><p>Architect: <%= @project.architect %></p>
  <a class="exit" href="#">CLOSE x</a>
</div>

<!-- <div class = "footer">
   <div class="footer-links">
	<div class ="span3 footerspan">
		<a id= "info" style="font-size:10pt;" href="#"> PROJECT INFO </a>
	</div>
	<div class = "span3 footerspan">
		<% if admin? %>
		  <%= link_to 'edit', edit_project_path(@project) %> &nbsp;&nbsp;
		  <%= link_to 'delete', @project, :confirm => "Are you sure you want to delete this project? This project will be permanently deleted. You can not un-do this action.", :method => :delete %> &nbsp;&nbsp;
		  <%= link_to 'new', new_project_path() %>
		<% end %>
	</div>
	<div class = "span3 footerspan" style="text-align:right; font-size:10gpt;">
	  <%= @project.name.upcase %>	
	</div>
   </div> 
</div> -->



<script>
  !function ($) {
    $(function(){

    setTimeout(function(){$("#project-infobar").css("height", $(".content").height()-100);},500);
    ch = $(".content").height();
    $(window).resize(function(){	
	  if (ch != $(".content").height()){
		$("#project-infobar").css("height", $(".content").height()-100);
	  }
	});

	  
      // carousel demo

    var cnt = 0 

  
	$(".exit").click(function(){
		if (cnt%2 == 1)
		  cnt++;
        	$("#project-infobar").animate({top: document.height}, 600, function() {
			 			    $("#project-infobar").css("display", "none");
			 			  });

	});
	
	

	$("#info").click(function(){
		cnt++;
				
		if (cnt%2 == 0){
			$("#project-infobar").hide();
			return false;
			 // $("#project-infobar").animate({top: document.height}, 600, function() {
			 // 			    $("#project-infobar").css("display", "none");
			 // 			  });	
		}
		else	
			$("#project-infobar").show();
		return false;g
			// $("#project-infobar").css("display","block");
			// $("#project-infobar").css("top",document.height);
			//$("#project-infobar").animate({top: '100'}, 600);
		
    });
	
		 // if ($('#project-infobar').height() == 0 )
		 // 		 		 		   $('#project-infobar').animate({height:'520'},1000);
		 // 		 		 		 
		 // 		 		 		 else if ($('#project-infobar').height() == 520 )
		 // 		 		 		   $('#project-infobar').animate({height:'0'},1000);
	
	
	
	$('.carousel').carousel({
		interval: false
	});

	$('.flexslider').flexslider({
      animation: "slide",
      controlNav: false,
      prevText: "‹",           //String: Set the text for the "previous" directionNav item
      nextText: "›",
      slideshow: false 
    });

	$("#prev").click(function(){
		$('.carousel').carousel('prev');
	});
	$("#next").click(function(){
		$('.carousel').carousel('next');
	});
	  

	
	
});
  }(window.jQuery)
</script>
