<!DOCTYPE html>
<html>
<head>
  <title>Riverside</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<body>
  <div class = "container everything">	
      <%= render "home/navbar" %>
      <%= render "layouts/flashnotice" %>
      <div class="content">
        <%= yield %>
      </div>
      <%= render "home/footer", :content => @footercontent unless @no_footer %>
  </div>
</body>

</html>
